@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row logo-bar">
        <div id="container">
            @*<img src="~/Img/logo-bar.gif" alt="logo" id="logo" />*@
            <h1 id="logo">MusicHub</h1>
        </div>
    </div>
</div>
<div class="row sections">
    <div class="container">

    </div>
</div>
    <div class="row">
        <h2 id="whats-new">Whats New?</h2>
        <div class="container">
            <div class="my-flipster">
                <ul>
                    <li><img src="~/Img/covers/1.jpg" class="cover"/></li>
                    <li><img src="~/Img/covers/2.jpg" class="cover"/></li>
                    <li><img src="~/Img/covers/3.jpg" class="cover"/></li>
                    <li><img src="~/Img/covers/4.jpg" class="cover"/></li>
                    <li><img src="~/Img/covers/5.jpg" class="cover"/></li>
                </ul>
            </div>
        </div>
    </div>
